<section class="section">

	<div class="container wordpress" id="wordpress">
		<h1> WordPress </h1>
		In early 2018, I taught myself how to use XAMPP and AMPPs, and completed basic Codecademy tutorials on HTML and CSS. I also read through <i> Smashing WordPress: Beyond the Blog </i> by Daniel Hedengren, and gained some fundamental knowledge in WordPress such as Tags, Categories, and the Basic Loop for checking posts. I was able to create a basic WordPress Site:
		
		<br>
		<img src="assets/img/wp.png">

		Although I have had no formal experience with WordPress, and have only had some exposure to Shopify, Squarespace and Wix, I am a self-driven learner who is eager to take initiative and very quick to learn. The majority of my web development skills listed above are self-taught. <br>
		I am very eager to learn in practical situations and expand my web development skillset with WordPress. <br>
		<hr>
		Thank you for considering this application. <br>
		Regards, <br>
		Zhouyue Bie

		<div class="links">
			<a class="btn btn-outline-dark" target="_blank" href="https://drive.google.com/file/d/1ciY2GODNwkbKe_XXoen7dbZre9v8c187/view?usp=sharing"> 
			<i class="fas fa-file"></i> 
			Curriculum Vitae 
			</a> <br>

			<a class="btn btn-outline-dark" target="_blank" href="https://drive.google.com/file/d/1B2upeHcXYMQ1HVTMuvlsxTi8V5th1jgd/view?usp=sharing"> 
			<i class="fas fa-graduation-cap"></i> 
			Academic Statement 
			</a> <br>

			<a class="btn btn-outline-dark" target="_blank" href="https://github.com/NessieNono"> 
			<i class="fab fa-github"></i> 
			Github Account 
			</a> <br>

			<a class="btn btn-outline-dark" target="_blank" href="mailto:rubyzhouyuebie@gmail.com?Subject=Hello!"> 
			<i class="fas fa-envelope"></i>
			Contact Me
			</a> <br>

		</div>
	</div>
</section>