<div class="container intro" id="introduction"> 

	<div class="brand">
		<h1 class="dear">Dear </h1>
		<h1 class="logo">DigitalHut,</h1>
	</div>

	<div class="row introduction">
		My name is Zhouyue Bie, and I am a third-year Computer Science and Dean's Honours List student at the University of New South Wales. I am very interested and eager to apply for the Junior Front-End Developer position at DigitalHut. I believe that I have the technical ability, creativity and diligence for this position. 
	</div>

	<div class="links">

		<a class="btn btn-outline-dark" target="_blank" href="https://drive.google.com/file/d/1ciY2GODNwkbKe_XXoen7dbZre9v8c187/view?usp=sharing"> 
		<i class="fas fa-file"></i> 
		Curriculum Vitae 
		</a> <br>

		<a class="btn btn-outline-dark" target="_blank" href="https://drive.google.com/file/d/1B2upeHcXYMQ1HVTMuvlsxTi8V5th1jgd/view?usp=sharing"> 
		<i class="fas fa-graduation-cap"></i> 
		Academic Statement 
		</a> <br>

		<a class="btn btn-outline-dark" target="_blank" href="https://github.com/NessieNono"> 
		<i class="fab fa-github"></i> 
		Github Account 
		</a> <br>

		<a class="btn btn-outline-dark" target="_blank" href="mailto:rubyzhouyuebie@gmail.com?Subject=Hello!"> 
		<i class="fas fa-envelope"></i>
		Contact Me
		</a> <br>

	</div>
	

</div>