<section class="section">
	<div class="container skills" id="skills">
		<h1>Skills </h1>
		I have extensively used Vanilla JavaScript to solve problems and build Front-End SPAs. I have a thorough understanding of the Angular Framework, and I have created multiple applications with the Angular CLI, including this website. I am experienced with HTML5 and CSS3, and using responsive frameworks such as Bootstrap and Skeleton.
		<br>
		I am a cooperative team player, a motivated self-learner, and a clear communicator. I am able to work under pressure. I enjoy approaching problems with innovative ideas and multiple perspectives. <br> <br>
		<hr>
		<div class="emphasis" id="pastProjects">A quick overview of my most recent projects include:</div>
	</div>

</section>